<% include ../partials/header %> <% include ../partials/nav %>
<main class="container">
  <form id="signinForm" action="/signin" method="POST">
    <% errors.forEach( error => { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= error.message || error %>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% }) %>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        required
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
        required
      />
    </div>

    <button type="submit" class="btn btn-dark">Login</button>
  </form>
</main>

<% include ../partials/footer %>
