<% include ./partials/header %> <% include ./partials/nav %>
<main class="container-fluid">
  <div class="card text-center">
    <div class="card-header">
      Featured Notes
    </div>
    <div class="card-body">
      <h5 class="card-title">Welcome to NoteHub</h5>
      <p class="card-text">
        Check out some of the latest notes from fellow users
      </p>
      <a href="/notes" class="btn btn-primary">Browse Notes</a>
    </div>
    
  </div>
  <div class="row mt-2 mb-2">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Share your expertise</h5>
          <p class="card-text">
            Share your notes, cheatsheets and best tips with the community.
          </p>
          <a href="/notes/new" class="btn btn-primary">Create a note</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img src="https://via.placeholder.com/150" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img src="https://via.placeholder.com/150" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This card has supporting text below as a natural lead-in to additional
          content.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img src="https://via.placeholder.com/150" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This card has even longer content than the
          first to show that equal height action.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</main>

<% include ./partials/footer %>
