<% include ./partials/header %> <% include ./partials/nav %>
<main class="container-fluid">
  <div class="card text-center">
    <div class="card-header">
      Featured Notes
    </div>
    <div class="card-body">
      <h5 class="card-title">Welcome to NoteHub</h5>
      <p class="card-text">
        Check out some of the latest notes from fellow users
      </p>
      <a href="/notes" class="btn btn-dark">Browse Notes</a>
    </div>
    
  </div>
  <div class="row mt-2 mb-2">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Share your expertise</h5>
          <p class="card-text">
            Share your notes, cheatsheets and best tips with the community.
          </p>
          <a href="/notes/new" class="btn btn-dark">Create a note</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">A community of learners</h5>
          <p class="card-text">
            We believe all knowledge should be shared. Come meet the community. 
          </p>
          <a href="/users" class="btn btn-dark">View Members</a>
        </div>
      </div>
    </div>
  </div>
  
</main>

<% include ./partials/footer %>
