body {
  /* padding: 50px; */
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

a {
  color: #00b7ff;
}

#signupForm {
  margin-top: 10%;
}

#signinForm {
  margin-top: 10%;
}

#deleteBtn {
  display: inline;
}

.fa-thumbs-up {
  font-size: 1.5em;
}

#note-section .fa-user-edit {
  font-size: 1.5em;
  color: black;
}

#note-section .fa-copy {
  font-size: 1.5em;
  color: black;
}

#profile-section .fa-user-edit {
  font-size: 1.3em;
  color: black;
}

#profile-section a {
  color: black;
}

#profile-section .fa-copy {
  font-size: 1.3em;
  color: black;
}

/* profile section */
.profile-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#uploadForm input {
  max-width: 250px;
}

#showUpload {
  cursor: pointer;
}

#showUpload i {
  font-size: 1.5em;
}

.fa-file-upload {
  font-size: 2.2em;
}

/* notes index section */

#notes-index-section i {
  color: black;
}

#notes-index-section a {
  color: black;
}

i#likeComment {
  font-size: 1.5em;
}

/* member section */

#members-section a {
  color: black;
}